@media screen and (min-width: 550px) {
  .ctg-image img {
    transform: scale(0.75, 0.75) !important;
  }
  .category-box {
    width: 260px !important;
    height: 260px !important;
    margin: 15px;
  }
}
.category-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px;
}
.ctg-image img {
  border-radius: 50%;
  transform: scale(0.75, 0.75) !important;
}
.ctg-title {
  font-size: 20px;
}
