@media screen and (min-width: 650px) {
  .super-delicious {
    margin-left: 177px;
    margin-right: 177px;
  }
  .recipe-boxes {
    display: flex;
    flex-wrap: wrap;
  }
  .collections {
    margin-left: 177px;
  }
  .collection-boxes {
    display: flex;
    flex-wrap: wrap;
  }
  .popular-categories-boxes {
    margin-left: 177px;
    margin-right: 177px;
    width: 100% !important;
    display: flex;
    justify-content: space-around !important;
    gap: 20px;
  }

  .popular-recipe {
    margin-left: 177px;
    margin-right: 177px;
  }
  .inbox {
    width: 100% !important;
    min-width: 650px !important;
    border-radius: 0px !important;
    margin-left: 0px !important;
  }
  .popular-title {
    margin-left: 177px;
  }
}

.title {
  font-weight: 600;
  font-size: 40px;
  margin: 15px;
}
.collection-title2 {
  font-weight: 600;
  font-size: 30px;
  margin: 1%;
}
.popular-title {
  font-weight: 600;
  font-size: 30px;
  margin: 1%;
}
.popular-categories-boxes {
  width: 350px;
  display: flex;
  flex-wrap: wrap;
}
.inbox {
  width: 345px;
  height: 436px;
  background-color: #ffd5c0;
  border-radius: 2%;
  margin: 2%;
}
